@custom-variant dark (&:is(.dark *));

:root {
  --font-size: 16px;
  /* Typography sizes */
  --text-display-lg: 76px;
  --text-heading-lg: 39px;
  --text-heading-md: 31px;
  --text-heading-xs: 18px;
  --text-paragraph-md: 16px;
  --text-paragraph-sm: 13px;
  /* Font weights */
  --font-weight-regular: 400;
  --font-weight-semi-bold: 600;
  /* Font families */
  --font-source-serif: "Source Serif 4", serif;
  --font-inter: "Inter", sans-serif;
  /* The default background color for the application. */
  --background: rgba(255, 252, 251, 1.00);
  /* The default color for elements or text that appears on top of the background. */
  --foreground: rgba(22, 20, 30, 1.00);
  /* The background color for cards, modals, and other containers. */
  --card: rgba(255, 255, 255, 1.00);
  /* The default color for text or elements that appear on top of cards, modals and other background containers. */
  --card-foreground: rgba(22, 20, 30, 1.00);
  /* The background color for dropdowns and tooltips. */
  --popover: rgba(255, 255, 255, 1.00);
  /* The default color for text or elements that appear on top of dropdowns and tooltips. */
  --popover-foreground: rgba(22, 20, 30, 1.00);
  /* The primary color used for buttons, links, and other interactive elements. */
  --primary: rgba(151, 115, 255, 1.00);
  /* The default color for text or elements that appear on top of primary colored elements. */
  --primary-foreground: rgba(255, 255, 255, 1.00);
  /* The secondary color used for secondary(but NOT-DESTRUCTIVE) buttons and interactive elements. */
  --secondary: rgba(0, 0, 0, 0);
  /* The default color for text or elements that appear on top of secondary colored elements. */
  --secondary-foreground: rgba(45, 12, 105, 1.00);
  /* The muted color used for less prominent elements, such as disabled buttons or disabled text. */
  --muted: rgba(242, 240, 247, 1.00);
  /* The default color for text or elements that appear on top of muted colored elements. */
  --muted-foreground: rgba(139, 136, 146, 1.00);
  /* The accent color used for highlights, links, and other interactive elements. */
  --accent: rgba(151, 115, 255, 1.00);
  /* The default color for text or elements that appear on top of accent colored elements. */
  --accent-foreground: rgba(255, 255, 255, 1.00);
  /* The color used for background in destructive actions, such as delete buttons or error messages. */
  --destructive: rgba(0, 0, 0, 0);
  /* The default color for text or elements that appear on top of destructive colored elements. */
  --destructive-foreground: rgba(211, 47, 47, 1.00);
  /* The default border color for elements such as inputs, buttons, and other containers. */
  --border: rgba(221, 219, 228, 1.00);
  /* The default background color for input fields once the text has been filled. Should be either transparent or match the input-background. */
  --input: rgba(255, 255, 255, 1.00);
  /* The default background color for input fields, text areas, and other input elements. */
  --input-background: rgba(255, 255, 255, 1.00);
  /* The color for focus rings, outlines, and other focus indicators. */
  --ring: rgba(151, 115, 255, 1.00);
  /* Shadow for small elevations, such as cards or modals. */
  --elevation-sm: 0px 1px 1px 0px rgba(151, 115, 255, 0.4);
  /* The color for chart elements, such as a bar or line in a chart. */
  --chart-1: rgba(151, 115, 255, 1.00);
  /* The color for another chart element, such as a bar or line in a chart. */
  --chart-2: rgba(218, 233, 248, 1.00);
  /* The color for another chart element, such as a bar or line in a chart. */
  --chart-3: rgba(230, 243, 237, 1.00);
  /* The color for another chart element, such as a bar or line in a chart. */
  --chart-4: rgba(253, 234, 214, 1.00);
  /* The color for another chart element, such as a bar or line in a chart. */
  --chart-5: rgba(245, 242, 255, 1.00);
  /* The default border radius for elements such as buttons, tooltip, and other containers. */
  --radius: 8px;
  /* The background color for sidebars, navigation menus, and other persistent elements. */
  --sidebar: rgba(255, 255, 255, 1.00);
  /* The default color for text or elements that appear on top of sidebars, navigation menus, and other persistent elements. */
  --sidebar-foreground: rgba(22, 20, 30, 1.00);
  /* The primary color used for buttons, links, and other interactive elements in sidebars and navigation menus. */
  --sidebar-primary: rgba(151, 115, 255, 1.00);
  /* The default color for text or elements that appear on top of primary colored elements in sidebars and navigation menus. */
  --sidebar-primary-foreground: rgba(255, 255, 255, 1.00);
  /* The accent color used for highlights, links, and other interactive elements in sidebars and navigation menus. */
  --sidebar-accent: rgba(151, 115, 255, 1.00);
  /* The default color for text or elements that appear on top of accent colored elements in sidebars and navigation menus. */
  --sidebar-accent-foreground: rgba(255, 255, 255, 1.00);
  /* The default border color for elements in sidebars and navigation menus. */
  --sidebar-border: rgba(221, 219, 228, 1.00);
  /* The default color for focus rings, outlines, and other focus indicators in sidebars and navigation menus. */
  --sidebar-ring: rgba(151, 115, 255, 1.00);
}

.dark {
  --background: rgba(22, 20, 30, 1.00);
  --foreground: rgba(255, 252, 251, 1.00);
  --card: rgba(22, 20, 30, 1.00);
  --card-foreground: rgba(255, 252, 251, 1.00);
  --popover: rgba(22, 20, 30, 1.00);
  --popover-foreground: rgba(255, 252, 251, 1.00);
  --primary: rgba(151, 115, 255, 1.00);
  --primary-foreground: rgba(255, 255, 255, 1.00);
  --secondary: rgba(0, 0, 0, 0);
  --secondary-foreground: rgba(151, 115, 255, 1.00);
  --muted: rgba(45, 12, 105, 1.00);
  --muted-foreground: rgba(139, 136, 146, 1.00);
  --accent: rgba(151, 115, 255, 1.00);
  --accent-foreground: rgba(255, 255, 255, 1.00);
  --destructive: rgba(0, 0, 0, 0);
  --destructive-foreground: rgba(211, 47, 47, 1.00);
  --border: rgba(139, 136, 146, 1.00);
  --input: rgba(22, 20, 30, 1.00);
  --ring: rgba(151, 115, 255, 1.00);
  --sidebar: rgba(22, 20, 30, 1.00);
  --sidebar-foreground: rgba(255, 252, 251, 1.00);
  --sidebar-primary: rgba(151, 115, 255, 1.00);
  --sidebar-primary-foreground: rgba(255, 255, 255, 1.00);
  --sidebar-accent: rgba(151, 115, 255, 1.00);
  --sidebar-accent-foreground: rgba(255, 255, 255, 1.00);
  --sidebar-border: rgba(139, 136, 146, 1.00);
  --sidebar-ring: rgba(151, 115, 255, 1.00);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-input-background: var(--input-background);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

h1 {
  font-family: var(--font-source-serif);
  font-size: var(--text-display-lg);
  font-weight: var(--font-weight-regular);
  line-height: 1.21;
}

h2 {
  font-family: var(--font-source-serif);
  font-size: var(--text-heading-lg);
  font-weight: var(--font-weight-regular);
  line-height: 1.23;
}

h3 {
  font-family: var(--font-source-serif);
  font-size: var(--text-heading-md);
  font-weight: var(--font-weight-regular);
  line-height: 1.29;
}

h4 {
  font-family: var(--font-inter);
  font-size: var(--text-heading-xs);
  font-weight: var(--font-weight-semi-bold);
  line-height: 1.33;
}

p {
  font-family: var(--font-inter);
  font-size: var(--text-paragraph-md);
  font-weight: var(--font-weight-regular);
  line-height: 1.5;
}

span {
  font-family: var(--font-inter);
  font-size: var(--text-paragraph-md);
  font-weight: var(--font-weight-regular);
  line-height: 1.5;
}

label {
  font-family: var(--font-inter);
  font-size: var(--text-paragraph-sm);
  font-weight: var(--font-weight-regular);
  line-height: 1.54;
}

button {
  font-family: var(--font-inter);
  font-size: var(--text-paragraph-md);
  font-weight: var(--font-weight-regular);
  line-height: 1.5;
}

input {
  font-family: var(--font-inter);
  font-size: var(--text-paragraph-md);
  font-weight: var(--font-weight-regular);
  line-height: 1.5;
}

html {
  font-size: var(--font-size);
}